<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiProdoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.aiProdoc.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/aiprodoc_boot_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aiprodoc_boot_logo_foreground"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.aiProdoc.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.zoontek.rnbootsplash.RNBootSplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/BootTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    </application>

</manifest>
